
h1, h2{
    text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .menuJavaScript {
    grid-column: 1 / 3;
    grid-row: 1;
    margin-left: 20%;
  }
  .menuHTML {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    margin-left: 15%;
  }
  .menuCSS {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    margin-left: 20%;
  }